.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content-container {
  text-align: center;
  margin: 40px 500px;
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
  padding: 20px 500px;
  background-color: #f4f5f7;
  display: flex;
  justify-content: space-evenly;
}

.page-title {
  font-size: 30px;
}