.login-form {
  -webkit-box-shadow: 0px 0px 17px 1px rgba(214,214,214,1);
  -moz-box-shadow: 0px 0px 17px 1px rgba(214,214,214,1);
  box-shadow: 0px 0px 17px 1px rgba(214,214,214,1);
  width: 400px;
  margin: 30px auto;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 30px;
}

.input-title {
  text-align: left;
  margin-bottom: 5px;
}

.input-title:nth-child(n+2) {
  margin-top: 20px;
} 

.input-text {
  height: 40px;
  border: 1px black solid;
  border-radius: 5px;
  padding: 0px 10px;
  font-size: 16px;
}

.input-submit {
  margin: 30px auto;
  height: 50px;
  width: 200px;
  border-radius: 5px;
  border: 0px;
  background: #df0336;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
  color: white; 
}

.alert {
  margin: 20px auto 0px auto;
  padding: 10px;
  background-color: #2b2d42;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  border: 3px #df0336 solid;
  width: 70%;
}



